/* Overrides of notebook CSS for static HTML export

*/

.reveal {
  font-size: 20px;
}
.reveal pre {
width: 100%;
padding: 0.2em;
margin: 0px auto;
font-size: 0.8em;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
div.prompt {
width: 11ex;
padding: 0.0em;
margin: 0px;
font-family: monospace;
}
div.output_subarea {
padding: 0.0em 0.0em 0.0em 0.0em;
}
div.output_prompt {
    /* 5px right shift to account for margin in parent container */
    margin: 0 5px 0 -5px;
}
