
.docked-dockable {
    overflow: hidden; 
    position: relative !important;
    top: 0px !important; 
    left: 0px !important; 
    margin-left: 0px !important;
}

.undocked-dockable {
    overflow    : scroll; 
    position    : absolute !important;
    top         : 0px; 
    left        : 0px; 
    margin-left : 0px !important;
}

.docking-button {
    font-size: @font-size-base;
}
