
// Our customizations to bootstrap go here.

@bodyBackground: white;
@blueDark:blue;
@navbarBorder:0px;
@navbarLinkColor:blue;
@baseLineHeight:8px;

@textColor:             black;
@baseFontSize:          13px;
@monoFontFamily:        monospace;  // to allow user to customize their fonts
@navbarHeight:          36px;

code {
  color: black; // default code color in bootstrap is #d14 (crimson / amaranth)
}

// Our own global variables for all pages go here

