build: false
matrix:
  fast_finish: true     # immediately finish build once one of the jobs fails.

environment:
  matrix:
   - PYTHON: "C:\\Python36"
     PYTHON_VERSION: "3.6.x"
     PYTHON_ARCH: "32"

   - PYTHON: "C:\\Python36-x64"
     PYTHON_VERSION: "3.6.x"
     PYTHON_ARCH: "64"

init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "%CMD_IN_ENV%  python -m pip install --upgrade setuptools pip"
  - "%CMD_IN_ENV%  pip install nose coverage"
  - "%CMD_IN_ENV%  pip install .[test]"
  - "%CMD_IN_ENV%  mkdir results"
  - "%CMD_IN_ENV%  cd results"
test_script:
  - "%CMD_IN_ENV%  iptest --coverage xml"
  
