include ipython.py
include setupbase.py
include setupegg.py

graft setupext

graft scripts
graft IPython/kernel
graft IPython/config
graft IPython/core
# graft IPython/deathrow
graft IPython/external
graft IPython/frontend
graft IPython/gui
graft IPython/lib
graft IPython/quarantine
graft IPython/scripts
graft IPython/testing
graft IPython/utils


graft docs
exclude docs/\#*
exclude docs/man/*.1

# docs subdirs we want to skip
prune docs/attic
prune docs/build

global-exclude *~
global-exclude *.flc
global-exclude *.pyc
global-exclude .dircopy.log
global-exclude .svn
global-exclude .bzr
global-exclude .hgignore
