// Our customizations to bootstrap go here.

@textColor:             @black;
@baseFontSize:          13px;
@monoFontFamily:        monospace;  // to allow user to customize their fonts

// Our own global variables for all pages go here

@corner_radius:         4px;
@code_line_height:      1.231em;
