@import (inline) "../components/smartmenus/dist/addons/bootstrap/jquery.smartmenus.bootstrap.css";

#menubar {
  margin-top: 0px;
  margin-bottom: -19px;
  position: relative;
  .border-box-sizing();

  .navbar {
    border-top: 1px;
    border-radius: 0px 0px @border-radius-base @border-radius-base;
  }
  
  .navbar-toggle {
    float: left;
  }
  .navbar-collapse {
    clear: left;
  }
  
  li.dropdown {
    line-height: 12px;

    a {
      padding-top: 6px;
      padding-bottom: 5px;
    }
  }

  ul.navbar-right {
    padding-top: 2px;
    margin-bottom: 0px;
  }
}

.nav-wrapper {
  border-bottom: 1px solid @navbar-default-border;
}

i.menu-icon {
  // add padding to account for float-right
  padding-top: 4px;
}

ul#help_menu li a{
    overflow: hidden;
    padding-right: 2.2em;
    i {
        margin-right: -1.2em;
    }
}

#menus {
  min-height: 30px;
}