div.widget-container {
    .box-flex2();
    .border-box-sizing();
}

div.widget-area {
    page-break-inside: avoid;
    .hbox();
}

/* This class is for the widget subarea inside the widget_area and after
   the prompt div. */
div.widget-subarea {
    padding: 0.44em 0.4em 0.4em 1px;
    margin-left: 6px;
    .border-box-sizing();
    .vbox();
    .box-flex2()
}
