<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}IPython Notebook{% end %}</title>

    <link rel="stylesheet" href="static/jquery/css/themes/aristo/jquery-wijmo.css" type="text/css" />
    <link rel="stylesheet" href="static/css/boilerplate.css" type="text/css" />
    <link rel="stylesheet" href="static/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="static/css/base.css" type="text/css"/>
    {% block stylesheet %}
    {% end %}

    {% block meta %}
    {% end %}

</head>

<body {% block params %}{% end %}>

<div id="header">
    <span id="ipython_notebook"><h1><img src='static/ipynblogo.png' alt='IPython Notebook'/></h1></span>

    {% block login_widget %}

      <span id="login_widget">
        {% if logged_in %}
          <button id="logout">Logout</button>
        {% elif login_available and not logged_in %}
          <button id="login">Login</button>
        {% end %}
      </span>

    {% end %}

    {% block header %}
    {% end %}
</div>

<div id="header_border"></div>

<div id="main_app">

    <div id="app_hbox">

    <div id="left_panel">
    {% block left_panel %}
    {% end %}
    </div>

    <div id="content_panel">
        {% if message %}

          {% for key in message %}
            <div class="message {{key}}">
               {{message[key]}}
            </div>
          {% end %}
        {% end %}

        {% block content_panel %}
        {% end %}
    </div>
    <div id="right_panel">
    {% block right_panel %}
    {% end %}
    </div>

    </div>

</div>

<script src="static/jquery/js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/jquery/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/namespace.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/loginmain.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/loginwidget.js" type="text/javascript" charset="utf-8"></script>
{% block script %}
{% end %}

</body>

</html>
