{% extends "page.html" %}


{% block login_widget %}
{% endblock %}


{% block site %}

<div id="ipython-main-app">

    {% if login_available %}
    <form action="{{base_project_url}}login?next={{next}}" method="post">
        Password: <input type="password" class='ui-widget ui-widget-content' name="password" id="password_input">
        <input type="submit" value="Log in" id="login_submit">
    </form>
    {% endif %}

    {% if message %}
      {% for key in message %}
        <div class="message {{key}}">
           {{message[key]}}
        </div>
      {% endfor %}
    {% endif %}

<div/>

{% endblock %}


{% block script %}

<script src="{{static_url("auth/js/loginmain.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
