<!DOCTYPE HTML>

<head>
  <meta charset="utf-8">


  <title>IPython Notebook Browser</title>
  <meta name="description" content="Browser for local IPython notebooks">
  <meta name="author" content="IPython dev team">

  <link rel="stylesheet" href="static/css/nbbrowser.css" type="text/css" />
  <link rel="stylesheet" href="static/jquery/css/jquery.wijmo-open.1.1.3.css" type="text/css" />
  <link rel="stylesheet" href="static/jquery/css/themes/aristo/jquery-wijmo.css" type="text/css" />


</head>

<body>



  <!-- JavaScript at the bottom for fast page loading -->

  <script src="static/jquery/js/jquery-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/jquery/js/jquery-ui-1.8.10.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/jquery/js/jquery.wijmo-open.1.1.3.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/nbbrowser.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>