<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>IPython Notebook</title>

    {% if mathjax_url %}
    <script type="text/javascript" src="{{mathjax_url}}?config=TeX-AMS_HTML" charset="utf-8"></script>
    {% end %}
    <script type="text/javascript">
    // MathJax disabled, set as null to distingish from *missing* MathJax,
    // where it will be undefined, and should prompt a dialog later.
    window.mathjax_url = "{{mathjax_url}}";
    </script>

    <link rel="stylesheet" href="static/jquery/css/themes/aristo/jquery-wijmo.css" type="text/css" />
    <link rel="stylesheet" href="static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="static/codemirror/mode/markdown/markdown.css">
    <link rel="stylesheet" href="static/codemirror/mode/rst/rst.css">
    <link rel="stylesheet" href="static/codemirror/theme/ipython.css">
    <link rel="stylesheet" href="static/codemirror/theme/default.css">

    <link rel="stylesheet" href="static/prettify/prettify.css"/>

    <link rel="stylesheet" href="static/css/boilerplate.css" type="text/css" />
    <link rel="stylesheet" href="static/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="static/css/notebook.css" type="text/css" />
    <link rel="stylesheet" href="static/css/renderedhtml.css" type="text/css" />

    {% comment  In the notebook, the read-only flag is used to determine %}
    {% comment  whether to hide the side panels and switch off input %}
    <meta name="read_only" content="{{read_only and not logged_in}}"/>

</head>

<body
    data-project={{project}} data-notebook-id={{notebook_id}}
    data-base-project-url={{base_project_url}} data-base-kernel-url={{base_kernel_url}}
>

<div id="header">
    <span id="ipython_notebook"><h1><a href='..' alt='dashboard'><img src='static/ipynblogo.png' alt='IPython Notebook'/></a></h1></span>
    <span id="save_widget">
        <input type="text" id="notebook_name" size="20"></textarea>
        <button id="save_notebook"><u>S</u>ave</button>
    </span>
    <span id="quick_help_area">
      <button id="quick_help">Quick<u>H</u>elp</button>
    </span>

    <span id="login_widget">
      {% comment  This is a temporary workaround to hide the logout button %}
      {% comment  when appropriate until notebook.html is templated %}
      {% if logged_in %}
        <button id="logout">Logout</button>
      {% elif not logged_in and login_available %}
        <button id="login">Login</button>
      {% end %}
    </span>

    <span id="kernel_status">Idle</span>
</div>

<div id="main_app">

    <div id="left_panel">

        <div id="notebook_section">
            <div class="section_header">
                <h3>Notebook</h3>
            </div>
            <div class="section_content">
                <div class="section_row">
                    <span id="new_open" class="section_row_buttons">
                        <button id="new_notebook">New</button>
                        <button id="open_notebook">Open</button>
                    </span>
                    <span class="section_row_header">Actions</span>
                </div>
                <div class="section_row">
                    <span>
                        <select id="download_format">
                            <option value="json">ipynb</option>
                            <option value="py">py</option>
                        </select>
                    </span>
                    <span class="section_row_buttons">
                        <button id="download_notebook">Download</button>
                    </span>
                </div>
                <div class="section_row">
                    <span class="section_row_buttons">
                        <span id="print_widget">
                            <button id="print_notebook">Print</button>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div id="cell_section">
            <div class="section_header">
                <h3>Cell</h3>
            </div>
            <div class="section_content">
                <div class="section_row">
                    <span class="section_row_buttons">
                        <button id="delete_cell"><u>D</u>elete</button>
                    </span>
                    <span class="section_row_header">Actions</span>
                </div>
                <div class="section_row">
                    <span id="cell_type" class="section_row_buttons">
                        <button id="to_code"><u>C</u>ode</button>
<!--                        <button id="to_html">HTML</button>-->
                        <button id="to_markdown"><u>M</u>arkdown</button>
                    </span>
                     <span class="button_label">Format</span> 
                </div>
                <div class="section_row">
                    <span id="cell_output" class="section_row_buttons">
                        <button id="toggle_output"><u>T</u>oggle</button>
                        <button id="clear_all_output">ClearAll</button>
                    </span>
                    <span class="button_label">Output</span>
                </div>
                <div class="section_row">
                    <span id="insert" class="section_row_buttons">
                        <button id="insert_cell_above"><u>A</u>bove</button>
                        <button id="insert_cell_below"><u>B</u>elow</button>
                    </span>
                    <span class="button_label">Insert</span>
                </div>
                <div class="section_row">
                    <span id="move" class="section_row_buttons">
                        <button id="move_cell_up">Up</button>
                        <button id="move_cell_down">Down</button>
                    </span>
                    <span class="button_label">Move</span>
                </div>
                <div class="section_row">
                    <span id="run_cells" class="section_row_buttons">
                        <button id="run_selected_cell">Selected</button>
                        <button id="run_all_cells">All</button>
                    </span>
                    <span class="button_label">Run</span>
                </div>
                <div class="section_row">
                    <span id="autoindent_span">
                        <input type="checkbox" id="autoindent" checked="true"></input>
                    </span>
                    <span class="checkbox_label" id="autoindent_label">Autoindent:</span>
                </div>
            </div>
        </div>

        <div id="kernel_section">
            <div class="section_header">
                <h3>Kernel</h3>
            </div>
            <div class="section_content">
                <div class="section_row">
                    <span id="int_restart" class="section_row_buttons">
                        <button id="int_kernel"><u>I</u>nterrupt</button>
                        <button id="restart_kernel">Restart</button>
                    </span>
                    <span class="section_row_header">Actions</span>
                </div>
                <div class="section_row">
                    <span id="kernel_persist">
                        {% if kill_kernel %}
                            <input type="checkbox" id="kill_kernel" checked="true"></input>
                        {% else %}
                            <input type="checkbox" id="kill_kernel"></input>
                        {% end %}
                    </span>
                    <span class="checkbox_label" id="kill_kernel_label">Kill kernel upon exit:</span>
                </div>
            </div>
        </div>

        <div id="help_section">
            <div class="section_header">
                <h3>Help</h3>
            </div>
            <div class="section_content">
                <div class="section_row">
                    <span id="help_buttons0" class="section_row_buttons">
                        <a id="python_help" href="http://docs.python.org" target="_blank">Python</a>
                        <a id="ipython_help" href="http://ipython.org/documentation.html" target="_blank">IPython</a>
                    </span>
                    <span class="section_row_header">Links</span>
                </div>
                <div class="section_row">
                    <span id="help_buttons1" class="section_row_buttons">
                        <a id="numpy_help" href="http://docs.scipy.org/doc/numpy/reference/" target="_blank">NumPy</a>
                        <a id="scipy_help" href="http://docs.scipy.org/doc/scipy/reference/" target="_blank">SciPy</a>
                    </span>
                </div>
                <div class="section_row">
                    <span id="help_buttons2" class="section_row_buttons">
                        <a id="matplotlib_help" href="http://matplotlib.sourceforge.net/" target="_blank">MPL</a>
                        <a id="sympy_help" href="http://docs.sympy.org/dev/index.html" target="_blank">SymPy</a>
                    </span>
                </div>
                <div class="section_row">
                    <span class="help_string">run selected cell</span>
                    <span class="help_string_label">Shift-Enter :</span>
                </div>
                <div class="section_row">
                    <span class="help_string">run selected cell in-place</span>
                    <span class="help_string_label">Ctrl-Enter  :</span>
                </div>
                <div class="section_row">
                    <span class="help_string">show keyboard shortcuts</span>
                    <span class="help_string_label">Ctrl-m h  :</span>
                </div>
            </div>
        </div>

        <div id="config_section">
            <div class="section_header">
                <h3>Configuration</h3>
            </div>
            <div class="section_content">
                <div class="section_row">
                    <span id="tooltipontab_span">
                        <input type="checkbox" id="tooltipontab" checked="true"></input>
                    </span>
                    <span class="checkbox_label" id="tooltipontab_label">Tooltip on tab:</span>
                </div>
                <div class="section_row">
                    <span id="smartcompleter_span">
                        <input type="checkbox" id="smartcompleter" checked="true"></input>
                    </span>
                    <span class="checkbox_label" id="smartcompleter_label">Smart completer:</span>
                </div>
                <div class="section_row">
                    <span id="timebeforetooltip_span">
                        <input type="text" id="timebeforetooltip" value="1200" size='6'></input>
                        <span class="numeric_input_label" id="timebeforetooltip_unit">milliseconds</span>
                    </span>
                    <span class="numeric_input_label" id="timebeforetooltip_label">Time before tooltip : </span>
                </div>
            </div>
        </div>

    </div>
    <div id="left_panel_splitter"></div>
    <div id="notebook_panel">
        <div id="notebook"></div>
        <div id="pager_splitter"></div>
        <div id="pager"></div>
    </div>

</div>

<script src="static/jquery/js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/jquery/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/jquery/js/jquery.autogrow.js" type="text/javascript" charset="utf-8"></script>

<script src="static/codemirror/lib/codemirror.js" charset="utf-8"></script>
<script src="static/codemirror/mode/python/python.js" charset="utf-8"></script>
<script src="static/codemirror/mode/htmlmixed/htmlmixed.js" charset="utf-8"></script>
<script src="static/codemirror/mode/xml/xml.js" charset="utf-8"></script>
<script src="static/codemirror/mode/javascript/javascript.js" charset="utf-8"></script>
<script src="static/codemirror/mode/css/css.js" charset="utf-8"></script>
<script src="static/codemirror/mode/rst/rst.js" charset="utf-8"></script>
<script src="static/codemirror/mode/markdown/markdown.js" charset="utf-8"></script>

<script src="static/pagedown/Markdown.Converter.js" charset="utf-8"></script>

<script src="static/prettify/prettify.js" charset="utf-8"></script>

<script src="static/js/namespace.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/utils.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/cell.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/codecell.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/textcell.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/kernel.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/kernelstatus.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/layout.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/savewidget.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/quickhelp.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/loginwidget.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/pager.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/panelsection.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/printwidget.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/leftpanel.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/notebook.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/notebookmain.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>
