<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>IPython Notebook</title>
    <link rel="stylesheet" href="static/css/notebook.css" type="text/css" />
    <link rel="stylesheet" href="static/jquery/css/jquery.wijmo-open.1.1.3.css" type="text/css" />
    <link rel="stylesheet" href="static/jquery/css/themes/aristo/jquery-wijmo.css" type="text/css" />
    <!-- <link rel="stylesheet" href="static/jquery/css/themes/ui-lightness/jquery-ui-1.8.10.custom.css" type="text/css" /> -->
    <!-- <script src="static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" charset="utf-8"></script> -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" charset="utf-8"></script>
</head>

<body>

<div id="header">
    <span id="ipython_notebook"><h1>IPython Notebook</h1></span>
</div>

<div id="tools">

<ul id="main_menu">
    <li><a>Cell</a>
        <ul>
            <li><a>Run</a></li>
            <li><a>Move up</a></li>
            <li><a>Move down</a></li>
            <li><a>Delete</a></li>
        </ul>
    </li>
    <li><a>Kernel</a>
        <ul>
            <li><a>Interrupt</a></li>
            <li><a>Restart</a></li>
        </ul>
    </li>
    <li><a>Help</a>
        <ul>
            <li><a>Notebook help</a></li>
            <li></li>
            <li><a href="http://docs.python.org" target="_blank">Python Docs</a></li>
            <li><a href="http://ipython.github.com/ipython-doc/dev/index.html" target="_blank">IPython Docs</a></li>
            <li><a href="http://docs.scipy.org/doc/numpy/reference/" target="_blank">NumPy Docs</a></li>
            <li><a href="http://docs.scipy.org/doc/scipy/reference/" target="_blank">SciPy Docs</a></li>
            <li><a href="http://docs.sympy.org/dev/index.html" target="_blank">SymPy Docs</a></li>
        </ul>
    </li>
</ul>

<div id="toolbar">
    <span id="main_toolbar">
        <span id="move_cell">
            <button id="move_up">Move up</button>
            <button id="move_down">Move down</button>
        </span>
        <span id="insert_delete">
            <button id="insert_cell_before">Before</button>
            <button id="insert_cell_after">After</button>
            <button id="delete_cell">Delete</button>
        </span>
        <span id="cell_type">
            <button id="to_code">Code</button>
            <button id="to_text">Text</button>
        </span>
        <span id="sort">
            <button id="sort_cells">Sort</button>
        </span>
        <span id="toggle">
            <button id="collapse">Collapse</button>
            <button id="expand">Expand</button>
        </span>
    </span>
</div>

</div>

<div class="notebook"></div>

<script src="static/jquery/js/jquery-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/jquery/js/jquery-ui-1.8.10.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/jquery/js/jquery.autogrow.js" type="text/javascript" charset="utf-8"></script>
<script src="static/jquery/js/jquery.wijmo-open.1.1.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/notebook.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>