

<!DOCTYPE HTML>
{% macro static_url(name) -%}
   {{ base_project_url }}static/{{ name }}
{%- endmacro %}
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}IPython Notebook{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{static_url("jquery/css/themes/base/jquery-ui.min.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{static_url("css/boilerplate.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{static_url("css/page.css") }}" type="text/css"/>
    {% block stylesheet %}
    {% endblock %}
    <link rel="stylesheet" href="{{ static_url("css/custom.css") }}" type="text/css" />


    {% block meta %}
    {% endblock %}

</head>

<body {% block params %}{% endblock %}>

<div id="header">
    <span id="ipython_notebook"><div><a href="{{base_project_url}}" alt='dashboard'><img src='{{static_url("ipynblogo.png") }}' alt='IPython Notebook'/></a></div></span>

    {% block login_widget %}

      <span id="login_widget">
        {% if logged_in %}
          <button id="logout">Logout</button>
        {% elif login_available and not logged_in %}
          <button id="login">Login</button>
        {% endif %}
      </span>

    {% endblock %}

    {% block header %}
    {% endblock %}
</div>

<div id="site">
{% block site %}
{% endblock %}
</div>

<script src="{{static_url("jquery/js/jquery-1.7.1.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("jquery/js/jquery-ui.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("js/namespace.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("js/page.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("js/loginwidget.js") }}" type="text/javascript" charset="utf-8"></script>

{% block script %}
{% endblock %}

<script src="{{static_url("js/custom.js") }}" type="text/javascript" charset="utf-8"></script>

</body>

</html>
