{% extends layout.html %}

{% block title %}
IPython Dashboard
{% end %}

{% block stylesheet %}
    <link rel="stylesheet" href="static/css/projectdashboard.css" type="text/css" />
{% end %}

{% block meta %}
    <meta name="read_only" content="{{read_only}}"/>
{% end %}

{% block params %}
data-project={{project}}
data-base-project-url={{base_project_url}}
data-base-kernel-url={{base_kernel_url}}
{% end %}

{% block content_panel %}
    {% if logged_in or not read_only %}

    <div id="content_toolbar">
        <span id="drag_info">Drag files onto the list to import
        notebooks.</span>

        <span id="notebooks_buttons">
          <button id="new_notebook">New Notebook</button>
        </span>
    </div>

    {% end %}

    <div id="notebook_list">
        <div id="project_name"><h2>{{project}}</h2></div>
    </div>
{% end %}

{% block script %}
    <script src="static/js/notebooklist.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/projectdashboardmain.js" type="text/javascript" charset="utf-8"></script>
{% end %}
