{% extends "page.html" %}

{% block title %}IPython Dashboard{% endblock %}


{% block stylesheet %}
{{super()}}
<link rel="stylesheet" href="{{ static_url("tree/css/override.css") }}" type="text/css" />
{% endblock %}

{% block params %}

data-project={{project}}
data-base-project-url={{base_project_url}}
data-base-kernel-url={{base_kernel_url}}
data-read-only={{read_only}}

{% endblock %}


{% block site %}

<div id="ipython-main-app" class="container">

<div id="tabs" class="tabbable">
    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Notebooks</a></li>
        <li><a href="#tab2" data-toggle="tab">Clusters</a></li>
    </ul>

    <div class="tab-content">
    <div id="tab1" class="tab-pane active">
        {% if logged_in or not read_only %}
        <div id="notebook_toolbar">
            <form id='alternate_upload'  class='alternate_upload' >
                <span id="drag_info" style="position:absolute" >
                    To import a notebook, drag the file onto the listing below or <strong>click here</strong>.
                    </span>
                <input type="file" name="datafile" class="fileinput" multiple='multiple'>
            </form>
            <span id="notebook_buttons">
                <button id="refresh_notebook_list" title="Refresh notebook list" class="btn btn-small">Refresh</button>
                <button id="new_notebook" title="Create new notebook" class="btn btn-small">New Notebook</button>
            </span>
        </div>
        {% endif %}

        <ul id="notebook_list" class="nav nav-stacked">
          <li id="notebook_list_header" class="nav-header">
            <div id="project_name">
                <ul class="breadcrumb">
                    {% for component in project_component %}
                        <li>{{component}} <span>/</span></li>
                    {% endfor %}
                </ul>
            </div>
          </li>
        </ul>
    </div>
    
    <div id="tab2" class="tab-pane">

        <div id="cluster_toolbar">
            <span id="cluster_list_info">IPython parallel computing clusters</span>

            <span id="cluster_buttons">
                <button id="refresh_cluster_list" title="Refresh cluster list" class="btn btn-small">Refresh</button>
            </span>
        </div>

        <ul id="cluster_list" class="nav nav-stacked">
            <li id="cluster_header" class="nav-header">
                <span>profile</span>
                <span>action</span>
                <span title="Enter the number of engines to start or empty for default"># of engines</span>
                <span>status</span>
            </li>
        </ul>
    </div>
</div>

</div>

{% endblock %}

{% block script %}
    {{super()}}
    <script src="{{static_url("tree/js/notebooklist.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("tree/js/clusterlist.js") }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{static_url("tree/js/main.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
