/* Css for the metadata edit area */


.celltoolbar {
    border: thin solid #DDD;
    margin-left: 0px;
    border-bottom: none;
    background : #EEE;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.no_input_radius {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.text_cell .ctb_prompt {
    display: none;
}

.code_cell .ctb_prompt {
    display: block;
}

.button_container {
    float: right;
}

.button_container .ui-state-default, .button_container .ui-state-hover, .button_container .ui-state-hover span{
    border-radius : 0 0 0 0;
    border : none;
}

.celltoolbar .button_container select {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 77%;
}

.celltoolbar label span {
    font-size: 77%;
}

.celltoolbar input[type=checkbox] {
    margin-bottom: 1px;
}

.celltoolbar ui-button {
    border: none;
}

