/* Css for the metadata edit area */


.celltoolbar {
    border: thin solid #CFCFCF;
    margin-left: 0px;
    border-bottom: none;
    background : #EEE;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.no_input_radius {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.text_cell .ctb_prompt {
    display: none;
}

.code_cell .ctb_prompt {
    display: block;
}

.ctb_hideshow {
    display: none;
}

/*ctb_show is added to either body or the ctb_hideshow div to show
all or one cell's toolbars.
*/
.ctb_show.ctb_hideshow, .ctb_show .ctb_hideshow {
    display: block;
}

.ctb_show .ctb_hideshow + div > div.input_area,
.ctb_show .ctb_hideshow + div.text_cell_input {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.ctb_show > .celltoolbar {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.button_container {
    float: right;
    padding-bottom: 1px;
}

.button_container .ui-state-default, .button_container .ui-state-hover, .button_container .ui-state-hover span{
    border-radius : 0 0 0 0;
    border : none;
}

.celltoolbar .button_container select {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 87%;
    height:18px;
    display:inline;
    width:auto;
}

.celltoolbar label{
    display:inline;
}

.celltoolbar label span {
    font-size: 87%;
}

.celltoolbar input[type=checkbox] {
    margin: 0px;
    margin-left: 4px;
    margin-right: 4px;
}


.celltoolbar ui-button {
    border: none;
}

