
/**
 * Primary styles
 *
 * Author: IPython Development Team
 */

#ipython-main_app {
    width : 100%;
    max-width: 920px;
    margin: 30px auto 0px auto;
}

.toolbar_buttons {
    float: left;
}
.pathentry {
    width : 80%;
}
.refresh_button{
    icons : {primary: 'ui-icon-arrowrefresh-1-s'}
    text : false
}