/*Css for the metadata edit area*/

.metaedit{
    border:thin solid #DDD;
    margin-left:81px;
    border-bottom:none;
    background : #EEE;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display:none;
}

.code_cell .metaedit{
    margin-left:81px;
}

.text_cell .metaedit{
    margin-left:0px;
}

.editmetaon div.input_area , .editmetaon div.text_cell_input{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.editmetaon .metaedit {
    display:block;
}

.metaedit ui-button {
    border :none;
}

.button_container {
 float:right;
 /*width:60px;*/
}

.button_container .ui-state-default, .button_container .ui-state-hover, .button_container .ui-state-hover span{
    border-radius : 0 0 0 0;
    border : none;
}

.metaedit select {
    margin:10px;
    margin-top:0px;
    margin-bottom:0px;
}

.metaedit input[type=checkbox] {
    margin-bottom:1px;

}

