/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Primary styles
 *
 * Author: IPython Development Team
 */


body {
    background-color: white;
    /* This makes sure that the body covers the entire window and needs to
       be in a different element than the display: box in wrapper below */
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}


div#header {
    position: relative;
    height: 45px;
    padding: 5px;
    margin: 0px;
    width: 100%
}

span#ipython_notebook {
    position: absolute;
    padding: 2px;
}

span#ipython_notebook h1 {
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 197%;
    display: inline;
}

span#save_widget {
    position: absolute;
    left: 0px;
    padding: 5px 0px;
    margin: 0px 0px 0px 0px;
}

input#notebook_name {
    height: 1em;
    line-height: 1em;
    padding: 5px;
}

span#kernel_status {
    position: absolute;
    padding: 8px 5px 5px 5px;
    right: 10px;
	font-weight: bold;
}

.status_idle {
    color: gray;
}

.status_busy {
    color: red;
}

.status_restarting {
    color: black;
}

div#notebook_app {
    width: 100%;
    position: relative;
}

div#left_panel {
    overflow-y: auto;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

h3.section_header {
    padding: 5px;
}

div.section_content {
    padding: 5px;
}


span.section_row_buttons > button {
    width: 60px;
}

.section_row {
    margin: 5px 0px;
}

.section_row_buttons {
    float: right;
}

.section_row_header {
    float: left;
    font-size: 85%;
    padding: 0.2em 0em;
    font-weight: bold;
}

span.button_label {
    padding: 0.2em 1em;
    font-size: 77%;
    float: right;
}

/* This is needed because FF was adding a 2px margin top and bottom. */
.section_row .ui-button {
    margin-top: 0px;
    margin-bottom: 0px;
}


.ui-button .ui-button-text {
    padding: 0.2em 0.8em;
    font-size: 77%;
}

div#left_panel_splitter {
    width: 8px;
    top: 0px;
    left: 202px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

div#notebook_panel {
/*    The L margin will be set in the Javascript code*/
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

div#notebook {
    overflow-y: scroll;
    overflow-x: auto;
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin: 0px
    background-color: white;
}

div#pager_splitter {
    height: 8px;
}

div#pager {
    padding: 15px;
    overflow: auto;
}

div.cell {
    width: 100%;
    padding: 5px;
    /* This acts as a spacer between cells, that is outside the border */
    margin: 15px 0px 15px 0px;
}

div.code_cell {
    background-color: white;
}

div.prompt {
    width: 80px;
    padding: 0.4em;
    margin: 0px;
    font-family: monospace;
}

div.input_prompt {
    color: navy;
}

div.output {
    /* This is a spacer between the input and output of each cell */
    margin-top: 15px;
}

div.output_prompt {
    color: darkred;
}

div.output_area {
    text-align: left;
    color: black;
    font-family: monospace;
}

div.output_stream {
    padding: 0.4em;
}

div.output_latex {
    /* Slightly bigger than the rest of the notebook */
    font-size: 116%;
}

div.output_png {
}

div.text_cell {
    background-color: white;
}

textarea.text_cell_input {
    /* Slightly bigger than the rest of the notebook */
    font-size: 116%;
    font-family: monospace;
    outline: none;
    resize: none;
    width:  inherit;
    border-style: none;
    padding: 0px;
    margin: 0px;
    color: black;
}

div.text_cell_render {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    /* Slightly bigger than the rest of the notebook */
    font-size: 116%;
    outline: none;
    resize: none;
    width:  inherit;
    border-style: none;
    padding: 5px;
    color: black;
}

div.text_cell_render em {font-style: italic;}
div.text_cell_render strong {font-weight: bold;}
div.text_cell_render u {text-decoration: underline;}
div.text_cell_render :link { text-decoration: underline }
div.text_cell_render :visited { text-decoration: underline }
div.text_cell_render h1 {font-size: 197%; margin: .67em 0; font-weight: bold;}
div.text_cell_render h2 {font-size: 153.9%; margin: .75em 0; font-weight: bold;}
div.text_cell_render h3 {font-size: 116%; margin: .83em 0; font-weight: bold;}
div.text_cell_render h4 {margin: 1.12em 0; font-weight: bold;}
div.text_cell_render h5 {font-size: 85%.; margin: 1.5em 0; font-weight: bold;}
div.text_cell_render h6 {font-size: 77%; margin: 1.67em 0; font-weight: bold;}
div.text_cell_render ul {list-style:disc; margin-left: 40px;}
div.text_cell_render ul ul {list-style:square; margin-left: 40px;}
div.text_cell_render ul ul ul {list-style:circle; margin-left: 40px;}
div.text_cell_render ol {list-style:upper-roman; margin-left: 40px;}
div.text_cell_render ol ol {list-style:upper-alpha;}
div.text_cell_render ol ol ol {list-style:decimal;}
div.text_cell_render ol ol ol ol {list-style:lower-alpha;}
div.text_cell_render ol ol ol ol ol {list-style:lower-roman;}


.CodeMirror {
  overflow: hidden; /* Changed from auto to remove scrollbar */
  height: auto;     /* Changed to auto to autogrow */
  line-height: 1.231;  /* Changed from 1em to our global default */
}

