.rendered_html {color: black;}
.rendered_html em {font-style: italic;}
.rendered_html strong {font-weight: bold;}
.rendered_html u {text-decoration: underline;}
.rendered_html :link { text-decoration: underline }
.rendered_html :visited { text-decoration: underline }
.rendered_html h1 {font-size: 197%; margin: .67em 0; font-weight: bold;}
.rendered_html h2 {font-size: 153.9%; margin: .75em 0; font-weight: bold;}
.rendered_html h3 {font-size: 116%; margin: .83em 0; font-weight: bold;}
.rendered_html h4 {margin: 1.12em 0; font-weight: bold;}
.rendered_html h5 {font-size: 85%.; margin: 1.5em 0; font-weight: bold;}
.rendered_html h6 {font-size: 77%; margin: 1.67em 0; font-weight: bold;}
.rendered_html ul {list-style:disc; margin-left: 40px;}
.rendered_html ul ul {list-style:square; margin-left: 40px;}
.rendered_html ul ul ul {list-style:circle; margin-left: 40px;}
.rendered_html ol {list-style:upper-roman; margin-left: 40px;}
.rendered_html ol ol {list-style:upper-alpha;}
.rendered_html ol ol ol {list-style:decimal;}
.rendered_html ol ol ol ol {list-style:lower-alpha;}
.rendered_html ol ol ol ol ol {list-style:lower-roman;}