
/**
 * Primary styles
 *
 * Author: IPython Development Team
 */

#tabs {
    border-style: none;
}

#tab1, #tab2 {
}

.list_toolbar {
    padding: 5px;
    height: 25px;
    line-height: 25px;
}

.toolbar_info {
    float: left;
}

.toolbar_buttons {
    float: right;
}

.list_header > a {
  font-size: 100%;
}

.tree_list {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid @borderColor;
  border-radius: 4px;
}

.tree_list > div {
  border-bottom: 1px solid @borderColor;
  &:hover .list-item{
    background-color: red;
  };
}

.tree_list > div:last-child {
  border: none;
}


.list_item {
  &:hover .list_item {
    background-color: #ddd;
  };
}

.tree_list > div > span, .tree_list > div > div {
  padding: 8px;
}


.cluster_list_item > a {
    color: @textColor !important;
}

.notebook_item a {
    text-decoration: none;
}

.profile_col {
}

.status_col {
    float: right;
    width: 325px;
}

.engines_col {
    float: right;
    width: 325px;
}

.action_col {
    float: right;
    width: 64px;
    text-align: right;
}

.item_buttons {
/*    float: right;*/
}

input.nbname_input {
    height: 15px;
}

.highlight_text {
    color: blue;
}


#project_name > .breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    font-weight: bold;
   
}

input.engine_num_input {
    height: 20px;
    margin-bottom:2px;
    padding-top:0;
    padding-bottom:0;
    width: 90px;
}
