
/**
 * Primary styles
 *
 * Author: IPython Development Team
 */

#tabs {
    border-style: none;
}

#tab1, #tab2 {
}

.list_toolbar {
    padding: 5px;
    height: 25px;
    line-height: 25px;
}

.toolbar_info {
    float: left;
}

.toolbar_buttons {
    float: right;
}

.list_header {
    height: 25px;
    line-height: 25px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0px 0px;
}



.list_item {
    height: 25px;
    line-height: 25px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-top: 0px;
}

.notebook_item a {
    text-decoration: none;
}

.profile_col {
}

.status_col {
    float: right;
    width: 325px;
}

.engines_col {
    float: right;
    width: 325px;
}

.action_col {
    float: right;
    width: 64px;
    text-align: right;
}

.item_buttons {
    float: right;
    margin-top: 1px;
}

input.nbname_input {
    height: 15px;
}

.highlight_text {
    color: blue;
}


#project_name > .breadcrumb {
 padding : 0;
 background-color: transparent;
}

input.engine_num_input {
    height: 20px;
    margin-bottom:2px;
    padding-top:0;
    padding-bottom:0;
    width: 90px;
}
