.completions {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    border: 1px solid @border_color;
	.corner-all;
	.box-shadow(0px 6px 10px -1px #adadad);
}

.completions select {
    background: white;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    font-family: @monoFontFamily;
	font-size: 110%;
    color: @textColor;
}

.completions select option.context {
  color: @blueDark;
}
