.ui-menubar-item .ui-button .ui-button-text {
    padding: 0.4em 1.0em;
    font-size: 100%;
}

.ui-menu {
	.box-shadow(0px 6px 10px -1px #adadad);
}

.ui-menu .ui-menu-item a {
    border: 1px solid transparent;
    padding: 2px 1.6em;
}

.ui-menu .ui-menu-item a.ui-state-focus {
    margin: 0;
}

.ui-menu hr {
    margin: 0.3em 0;
}

#menubar_container {
}

#menubar {
    margin-bottom: 0px;
}

#menubar .navbar-inner {
  min-height: 28px;
}

.nav-wrapper {
  border-bottom: 1px solid @navbarBorder;
}