.toolbar {
    padding: 3px 15px;
    border-bottom: @border_width @border_color solid;

    button {
        margin-top:2px;
        margin-bottom:2px;
    }


    select, label {
        height : 19px;
        vertical-align:middle;
        margin-right:2px;
        margin-bottom:0;
        display: inline;
        font-size: 92%;
        margin-left:0.3em;
        margin-right:0.3em;
        padding: 0px;
    }
}

.toolbar select{
    width:auto;
}
