{% extends "page.html" %}

{% block stylesheet %}

{% if mathjax_url %}
<script type="text/javascript" src="{{mathjax_url}}?config=TeX-AMS_HTML-full&delayStartupUntil=configured" charset="utf-8"></script>
{% endif %}
<script type="text/javascript">
// MathJax disabled, set as null to distingish from *missing* MathJax,
// where it will be undefined, and should prompt a dialog later.
window.mathjax_url = "{{mathjax_url}}";
</script>

<link rel="stylesheet" href="{{ static_url("components/bootstrap-tour/build/css/bootstrap-tour.min.css") }}" type="text/css" />
<link rel="stylesheet" href="{{ static_url("components/codemirror/lib/codemirror.css") }}">

{{super()}}

<link rel="stylesheet" href="{{ static_url("notebook/css/override.css") }}" type="text/css" />

{% endblock %}

{% block params %}

data-project="{{project}}"
data-base-url="{{base_url}}"
data-notebook-name="{{notebook_name}}"
data-notebook-path="{{notebook_path}}"
class="notebook_app"

{% endblock %}


{% block header %}

<span id="save_widget" class="nav pull-left">
    <span id="notebook_name"></span>
    <span id="checkpoint_status"></span>
    <span id="autosave_status"></span>
</span>

{% endblock %}


{% block site %}

<div id="menubar-container" class="container">
<div id="menubar">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
    <ul id="menus" class="nav">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}File{% endtrans %}</a>
            <ul id="file_menu" class="dropdown-menu">
                <li id="new_notebook"
                    title="{% trans %}Make a new notebook (Opens a new window){% endtrans %}">
                    <a href="#">{% trans %}New{% endtrans %}</a></li>
                <li id="open_notebook"
                    title="{% trans %}Opens a new window with the Dashboard view{% endtrans %}">
                    <a href="#">{% trans %}Open...{% endtrans %}</a></li>
                <!-- <hr/> -->
                <li class="divider"></li>
                <li id="copy_notebook"
                    title="{% trans %}Open a copy of this notebook's contents and start a new kernel{% endtrans %}">
                    <a href="#">{% trans %}Make a Copy...{% endtrans %}</a></li>
                <li id="rename_notebook"><a href="#">{% trans %}Rename...{% endtrans %}</a></li>
                <li id="save_checkpoint"><a href="#">{% trans %}Save and Checkpoint{% endtrans %}</a></li>
                <!-- <hr/> -->
                <li class="divider"></li>
                <li id="restore_checkpoint" class="dropdown-submenu"><a href="#">{% trans %}Revert to Checkpoint{% endtrans %}</a>
                  <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li id="print_preview"><a href="#">{% trans %}Print Preview{% endtrans %}</a></li>
                <li class="dropdown-submenu"><a href="#">{% trans %}Download as{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li id="download_ipynb"><a href="#">IPython Notebook (.ipynb)</a></li>
                        <li id="download_py"><a href="#">Python (.py)</a></li>
                        <li id="download_html"><a href="#">HTML (.html)</a></li>
                        <li id="download_rst"><a href="#">reST (.rst)</a></li>
                        <li id="download_pdf"><a href="#">PDF (.pdf)</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li id="trust_notebook"
                    title="{% trans %}Trust the output of this notebook{% endtrans %}">
                    <a href="#" >{% trans %}Trust Notebook{% endtrans %}</a></li>
                <li class="divider"></li>
                <li id="kill_and_exit"
                    title="{% trans %}Shutdown this notebook's kernel, and close this window{% endtrans %}">
                    <a href="#" >{% trans %}Close and halt{% endtrans %}</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Edit{% endtrans %}</a>
            <ul id="edit_menu" class="dropdown-menu">
                <li id="cut_cell"><a href="#">{% trans %}Cut Cell{% endtrans %}</a></li>
                <li id="copy_cell"><a href="#">{% trans %}Copy Cell{% endtrans %}</a></li>
                <li id="paste_cell_above" class="disabled"><a href="#">{% trans %}Paste Cell Above{% endtrans %}</a></li>
                <li id="paste_cell_below" class="disabled"><a href="#">{% trans %}Paste Cell Below{% endtrans %}</a></li>
                <li id="paste_cell_replace" class="disabled"><a href="#">{% trans %}Paste Cell &amp; Replace{% endtrans %}</a></li>
                <li id="delete_cell"><a href="#">{% trans %}Delete Cell{% endtrans %}</a></li>
                <li id="undelete_cell" class="disabled"><a href="#">{% trans %}Undo Delete Cell{% endtrans %}</a></li>
                <li class="divider"></li>
                <li id="split_cell"><a href="#">{% trans %}Split Cell{% endtrans %}</a></li>
                <li id="merge_cell_above"><a href="#">{% trans %}Merge Cell Above{% endtrans %}</a></li>
                <li id="merge_cell_below"><a href="#">{% trans %}Merge Cell Below{% endtrans %}</a></li>
                <li class="divider"></li>
                <li id="move_cell_up"><a href="#">{% trans %}Move Cell Up{% endtrans %}</a></li>
                <li id="move_cell_down"><a href="#">{% trans %}Move Cell Down{% endtrans %}</a></li>
                <li class="divider"></li>
                <li id="edit_nb_metadata"><a href="#">{% trans %}Edit Notebook Metadata{% endtrans %}</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}View{% endtrans %}</a>
            <ul id="view_menu" class="dropdown-menu">
                <li id="toggle_header"
                    title="{% trans %}Show/Hide the IPython Notebook logo and notebook title (above menu bar){% endtrans %}">
                    <a href="#">{% trans %}Toggle Header{% endtrans %}</a></li>
                <li id="toggle_toolbar"
                    title="{% trans %}Show/Hide the action icons (below menu bar){% endtrans %}">
                    <a href="#">{% trans %}Toggle Toolbar{% endtrans %}</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Insert{% endtrans %}</a>
            <ul id="insert_menu" class="dropdown-menu">
                <li id="insert_cell_above"
                    title="{% trans %}Insert an empty Code cell above the currently active cell{% endtrans %}">
                    <a href="#">{% trans %}Insert Cell Above{% endtrans %}</a></li>
                <li id="insert_cell_below"
                    title="{% trans %}Insert an empty Code cell below the currently active cell{% endtrans %}">
                    <a href="#">{% trans %}Insert Cell Below{% endtrans %}</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Cell{% endtrans %}</a>
            <ul id="cell_menu" class="dropdown-menu">
                <li id="run_cell" title="{% trans %}Run this cell, and move cursor to the next one{% endtrans %}">
                    <a href="#">{% trans %}Run{% endtrans %}</a></li>
                <li id="run_cell_select_below" title="{% trans %}Run this cell, select below{% endtrans %}">
                    <a href="#">{% trans %}Run and Select Below{% endtrans %}</a></li>
                <li id="run_cell_insert_below" title="{% trans %}Run this cell, insert below{% endtrans %}">
                    <a href="#">{% trans %}Run and Insert Below{% endtrans %}</a></li>
                <li id="run_all_cells" title="{% trans %}Run all cells in the notebook{% endtrans %}">
                    <a href="#">{% trans %}Run All{% endtrans %}</a></li>
                <li id="run_all_cells_above" title="{% trans %}Run all cells above (but not including) this cell{% endtrans %}">
                    <a href="#">{% trans %}Run All Above{% endtrans %}</a></li>
                <li id="run_all_cells_below" title="{% trans %}Run this cell and all cells below it{% endtrans %}">
                    <a href="#">{% trans %}Run All Below{% endtrans %}</a></li>
                <li class="divider"></li>
                <li id="change_cell_type" class="dropdown-submenu"
                    title="{% trans %}All cells in the notebook have a cell type. By default, new cells are created as 'Code' cells{% endtrans %}">
                    <a href="#">{% trans %}Cell Type{% endtrans %}</a>
                    <ul class="dropdown-menu">
                      <li id="to_code"
                          title="{% trans %}Contents will be sent to the kernel for execution, and output will display in the footer of cell{% endtrans %}">
                          <a href="#">{% trans %}Code{% endtrans %}</a></li>
                      <li id="to_markdown"
                          title="{% trans %}Contents will be rendered as HTML and serve as explanatory text{% endtrans %}">
                          <a href="#">{% trans %}Markdown{% endtrans %}</a></li>
                      <li id="to_raw"
                          title="{% trans %}Contents will pass through nbconvert unmodified{% endtrans %}">
                          <a href="#">{% trans %}Raw NBConvert{% endtrans %}</a></li>
                      {% for l in range(1,7) %}
                        <li id="to_heading{{ l }}"><a href="#">{{ _('Heading %(level)d')|format(level=l) }}</a></li>
                      {% endfor %}
                    </ul>
                </li>
                <li class="divider"></li>
                <li id="current_outputs" class="dropdown-submenu"><a href="#">{% trans %}Current Output{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li id="toggle_current_output"
                            title="{% trans %}Hide/Show the output of the current cell{% endtrans %}">
                            <a href="#">{% trans %}Toggle{% endtrans %}</a>
                        </li>
                        <li id="toggle_current_output_scroll"
                            title="{% trans %}Scroll the output of the current cell{% endtrans %}">
                            <a href="#">{% trans %}Toggle Scrolling{% endtrans %}</a>
                        </li>
                        <li id="clear_current_output"
                            title="{% trans %}Clear the output of the current cell{% endtrans %}">
                            <a href="#">{% trans %}Clear{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li id="all_outputs" class="dropdown-submenu"><a href="#">{% trans %}All Output{% endtrans %}</a>
                    <ul class="dropdown-menu">
                        <li id="toggle_all_output"
                            title="{% trans %}Hide/Show the output of all cells{% endtrans %}">
                            <a href="#">{% trans %}Toggle{% endtrans %}</a>
                        </li>
                        <li id="toggle_all_output_scroll"
                            title="{% trans %}Scroll the output of all cells{% endtrans %}">
                            <a href="#">{% trans %}Toggle Scrolling{% endtrans %}</a>
                        </li>
                        <li id="clear_all_output"
                            title="{% trans %}Clear the output of all cells{% endtrans %}">
                            <a href="#">{% trans %}Clear{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Kernel{% endtrans %}</a>
            <ul id="kernel_menu" class="dropdown-menu">
                <li id="int_kernel"
                    title="{% trans %}Send KeyboardInterrupt (CTRL-C) to the Kernel{% endtrans %}">
                    <a href="#">{% trans %}Interrupt{% endtrans %}</a></li>
                <li id="restart_kernel"
                    title="Restart the Kernel">
                    <a href="#">{% trans %}Restart{% endtrans %}</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Help{% endtrans %}</a>
            <ul  id="help_menu" class="dropdown-menu">
                <li id="notebook_tour" title="{% trans %}A quick tour of the notebook user interface{% endtrans %}"><a href="#">{% trans %}User Interface Tour{% endtrans %}</a></li>
                <li id="keyboard_shortcuts" title="{% trans %}Opens a tooltip with all keyboard shortcuts{% endtrans %}"><a href="#">{% trans %}Keyboard Shortcuts{% endtrans %}</a></li>
                <li class="divider"></li>
                {% set
                    sections = (
                        (
                            ("http://ipython.org/documentation.html","IPython Help",True),
                            ("http://nbviewer.ipython.org/github/ipython/ipython/tree/2.x/examples/Index.ipynb", "Notebook Help", True),
                        ),(
                            ("http://docs.python.org","Python",True),
                            ("http://help.github.com/articles/github-flavored-markdown","Markdown",True),
                            ("http://docs.scipy.org/doc/numpy/reference/","NumPy",True),
                            ("http://docs.scipy.org/doc/scipy/reference/","SciPy",True),
                            ("http://matplotlib.org/contents.html","Matplotlib",True),
                            ("http://docs.sympy.org/latest/index.html","SymPy",True),
                            ("http://pandas.pydata.org/pandas-docs/stable/","pandas", True)
                        )
                    )
                %}

                {% for helplinks in sections %}
                    {% for link in helplinks %}
                        <li><a href="{{link[0]}}" {{'target="_blank" title="{% trans %}Opens in a new window{% endtrans %}"' if link[2]}}>
                        {{'<i class="icon-external-link menu-icon pull-right"></i>' if link[2]}}
                        {{link[1]}}
                        </a></li>
                    {% endfor %}
                    {% if not loop.last %}
                        <li class="divider"></li>
                    {% endif %}
                {% endfor %}
                </li>
            </ul>
        </li>
    </ul>
    <div id="kernel_indicator" class="indicator_area pull-right">
       <i id="kernel_indicator_icon"></i>
    </div>
    <div id="modal_indicator" class="indicator_area pull-right">
       <i id="modal_indicator_icon"></i>
    </div>
    <div id="notification_area"></div>
    </div>
  </div>
</div>
</div>
<div id="maintoolbar" class="navbar">
  <div class="toolbar-inner navbar-inner navbar-nobg">
    <div id="maintoolbar-container" class="container"></div>
  </div>
</div>
</div>

<div id="ipython-main-app">

    <div id="notebook_panel">
        <div id="notebook"></div>
        <div id="pager_splitter"></div>
        <div id="pager">
            <div id='pager_button_area'>
            </div>
            <div id="pager-container" class="container"></div>
        </div>
    </div>

</div>
<div id='tooltip' class='ipython_tooltip' style='display:none'></div>


{% endblock %}


{% block script %}

{{super()}}

<script src="{{ static_url("components/google-caja/html-css-sanitizer-minified.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/lib/codemirror.js") }}" charset="utf-8"></script>
<script type="text/javascript">
    CodeMirror.modeURL = "{{ static_url("components/codemirror/mode/%N/%N.js", include_version=False) }}";
</script>
<script src="{{ static_url("components/codemirror/addon/mode/loadmode.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/mode/multiplex.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/mode/overlay.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/edit/matchbrackets.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/edit/closebrackets.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/addon/comment/comment.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/htmlmixed/htmlmixed.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/xml/xml.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/javascript/javascript.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/css/css.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/rst/rst.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/markdown/markdown.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/gfm/gfm.js") }}" charset="utf-8"></script>
<script src="{{ static_url("components/codemirror/mode/python/python.js") }}" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/codemirror-ipython.js") }}" charset="utf-8"></script>

<script src="{{ static_url("components/highlight.js/build/highlight.pack.js") }}" charset="utf-8"></script>

<script src="{{ static_url("dateformat/date.format.js") }}" charset="utf-8"></script>

<script src="{{ static_url("base/js/events.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/utils.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/keyboard.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/security.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("base/js/dialog.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("services/kernels/js/kernel.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("services/kernels/js/comm.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("services/sessions/js/session.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/layoutmanager.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/mathjaxutils.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/outputarea.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/cell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/celltoolbar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/codecell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/completer.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/textcell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/savewidget.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/quickhelp.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/pager.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/menubar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/toolbar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/maintoolbar.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/notebook.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/keyboardmanager.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/notificationwidget.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/notificationarea.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/tooltip.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/tour.js") }}" type="text/javascript" charset="utf-8"></script>

<script src="{{ static_url("notebook/js/config.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/main.js") }}" type="text/javascript" charset="utf-8"></script>

<script src="{{ static_url("notebook/js/contexthint.js") }}" charset="utf-8"></script>

<script src="{{ static_url("notebook/js/celltoolbarpresets/default.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/celltoolbarpresets/rawcell.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_url("notebook/js/celltoolbarpresets/slideshow.js") }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
