<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{static_url("components/jquery-ui/themes/smoothness/jquery-ui.min.css") }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ static_url("style/style.min.css") }}" type="text/css"/>
    {% endblock %}
    <link rel="stylesheet" href="{{ static_url("custom/custom.css") }}" type="text/css" />
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <script>
      require.config({
          baseUrl: '{{static_url("", include_version=False)}}',
          paths: {
            nbextensions : '{{ base_url }}nbextensions',
            underscore : 'components/underscore/underscore-min',
            backbone : 'components/backbone/backbone-min',
            jquery: 'components/jquery/jquery.min',
            bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
            dateformat: 'dateformat/date.format',
            jqueryui: 'components/jquery-ui/ui/minified/jquery-ui.min',
          },
          shim: {
            underscore: {
              exports: '_'
            },
            backbone: {
              deps: ["underscore", "jquery"],
              exports: "Backbone"
            },
            bootstraptour: {
              exports: "Tour"
            },
            dateformat: {
              exports: "dateFormat"
            },
            jqueryui: {
              deps: ["jquery"],
              exports: "$"
            }
          }
      });
    </script>

    {% block meta %}
    {% endblock %}

</head>

<body id="output_frame">

<noscript>
    <div id='noscript'>
      IPython Notebook requires JavaScript.<br>
      Please enable it to proceed.
  </div>
</noscript>

{% if mathjax_url %}
<script type="text/javascript" src="{{mathjax_url}}?config=TeX-AMS_HTML-full&delayStartupUntil=configured" charset="utf-8"></script>
{% endif %}

<script type="text/javascript">
// MathJax disabled, set as null to distingish from *missing* MathJax,
// where it will be undefined, and should prompt a dialog later.
window.mathjax_url = "{{mathjax_url}}";
</script>

<link rel="stylesheet" href="{{ static_url("components/bootstrap-tour/build/css/bootstrap-tour.min.css") }}" type="text/css" />
<link rel="stylesheet" href="{{ static_url("components/codemirror/lib/codemirror.css") }}">

<link rel="stylesheet" href="{{ static_url("notebook/css/override.css") }}" type="text/css" />

<script src="{{ static_url("outputframe/js/main.js") }}" charset="utf-8"></script>

</body>

</html>