<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}IPython Notebook{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{static_url("base/images/favicon.ico") }}">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{static_url("components/jquery-ui/themes/smoothness/jquery-ui.min.css") }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block stylesheet %}
    <link rel="stylesheet" href="{{ static_url("style/style.min.css") }}" type="text/css"/>
    {% endblock %}
    <link rel="stylesheet" href="{{ static_url("custom/custom.css") }}" type="text/css" />
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <script>
      require.config({
          baseUrl: '{{static_url("", include_version=False)}}',
          paths: {
            nbextensions : '{{ base_url }}nbextensions',
            underscore : 'components/underscore/underscore-min',
            backbone : 'components/backbone/backbone-min',
            jquery: 'components/jquery/jquery.min',
            bootstrap: 'components/bootstrap/js/bootstrap.min',
            bootstraptour: 'components/bootstrap-tour/build/js/bootstrap-tour.min',
            dateformat: 'dateformat/date.format',
            jqueryui: 'components/jquery-ui/ui/minified/jquery-ui.min',
            highlight: 'components/highlight.js/build/highlight.pack',
            moment: "components/moment/moment",
          },
          shim: {
            underscore: {
              exports: '_'
            },
            backbone: {
              deps: ["underscore", "jquery"],
              exports: "Backbone"
            },
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
            bootstraptour: {
              deps: ["bootstrap"],
              exports: "Tour"
            },
            dateformat: {
              exports: "dateFormat"
            },
            jqueryui: {
              deps: ["jquery"],
              exports: "$"
            },
            highlight: {
              exports: "hljs"
            },
          }
      });
    </script>
    <style type="text/css">

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }


        #jspb, div#jspb >pre {
            z-index: 6;
            opacity:0;
            display:block;
            animation: fadein 1s 6s forwards;
            -webkit-animation: fadein 1s 6s forwards;
        }
    </style>

    {% block meta %}
    {% endblock %}

</head>

<body {% block params %}{% endblock %}>

<noscript>
    <div id='noscript'>
      IPython Notebook requires JavaScript.<br>
      Please enable it to proceed.
  </div>
</noscript>

<div id='jspb' style='margin-left:25%; margin-right:25%; margin-top:15%; position:absolute'>
    <p> Hum, there seem too be some problem to load javascript. Try the following step to  fix it o narrow the cause:
    <ol>
        <li>Try to force refresh your browser page, Javascript files can be Agressively cached. </li>
        <li>Open the <b>web developpement console</b> of your browser and look for error</li>
        <li>If you used pip to install IPython, did you <pre>pip install ipython[notebook]</pre><p>; If not you might be missing dependencies</li>
        <li>Don't intall autmatically generated zip from github, they are broken.</li>
        <li>If you are running from git master, please make sure the submidules are up-to date (hint: install the git-hooks: <pre>$sh git-hooks/install-hooks.sh</pre></li>
    </ol>
    </p>
</div>

<div id="header" class="navbar navbar-static-top">
  <div class="container">
  <div id="ipython_notebook" class="nav navbar-brand pull-left"><a href="{{base_url}}tree/{{notebook_path}}" alt='dashboard'><img src='{{static_url("base/images/ipynblogo.png") }}' alt='IPython Notebook'/></a></div>

  {% block login_widget %}

    <span id="login_widget">
      {% if logged_in %}
        <button id="logout">Logout</button>
      {% elif login_available and not logged_in %}
        <button id="login">Login</button>
      {% endif %}
    </span>

  {% endblock %}

  {% block header %}
  {% endblock %}
  </div>
</div>

<div id="site">
{% block site %}
{% endblock %}
</div>

{% block script %}
{% endblock %}

</body>

</html>
