{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ static_url('components/codemirror/lib/codemirror.css') }}">

{{super()}}
{% endblock %}

{% block params %}

data-base-url="{{base_url}}"
data-file-path="{{file_path}}"

{% endblock %}

{% block site %}

<div id="texteditor-container"></div>

{% endblock %}

{% block script %}

    {{super()}}

<script src="{{ static_url("texteditor/js/main.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
