Source: ipython
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Norbert Tretkowski <nobse@debian.org>, Bernd Zeimetz <bernd@bzed.de>
Build-Depends: debhelper (>= 5.0.37.2), dpatch (>= 2.0.10), cdbs (>= 0.4.43), python, python-support (>= 0.4)
Homepage: http://ipython.scipy.org/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/ipython/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/python-modules/packages/ipython/trunk/
Standards-Version: 3.7.2.2

Package: ipython
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pexpect
Conflicts: python2.3-ipython, python2.4-ipython, ipython-common
Replaces: python2.3-ipython, python2.4-ipython, ipython-common
Suggests: python-profiler, python-numeric, python-numeric-ext, python-matplotlib
Description: enhanced interactive Python shell
 IPython can be used as a replacement for the standard Python shell,
 or it can be used as a complete working environment for scientific
 computing (like Matlab or Mathematica) when paired with the standard
 Python scientific and numerical tools. It supports dynamic object
 introspections, numbered input/output prompts, a macro system,
 session logging, session restoring, complete system shell access,
 verbose and colored traceback reports, auto-parentheses, auto-quoting,
 and is embeddable in other Python programs.
