#!/usr/bin/make -f
# ipython debian/rules file
DEB_PYTHON_SYSTEM=pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/dpatch.mk

install/ipython::
	# remove documentation
	rm $(CURDIR)/debian/ipython/usr/share/doc/ipython/COPYING
	rm $(CURDIR)/debian/ipython/usr/share/doc/ipython/ChangeLog
	rm $(CURDIR)/debian/ipython/usr/share/doc/ipython/README_Windows.txt
	rm $(CURDIR)/debian/ipython/usr/share/doc/ipython/pycon.ico
	
	# change permission on scripts
	chmod a-x $(CURDIR)/debian/ipython/usr/share/doc/ipython/examples/*
	
	# removing bogus usr/IPython directory
	rm -rf $(CURDIR)/debian/ipython/usr/IPython

binary-fixup/ipython::
	# fix lintian warnings (see also patches/04_remove_shebang.dpatch)
	chmod +x $(CURDIR)/debian/ipython/usr/share/python-support/ipython/IPython/upgrade_dir.py
	chmod +x $(CURDIR)/debian/ipython/usr/share/python-support/ipython/IPython/Extensions/pickleshare.py
	chmod +x $(CURDIR)/debian/ipython/usr/share/python-support/ipython/IPython/irunner.py
