// Bootstrap customizations specific to this page.

@corner_radius: 4px;
@notebook_background : white;
@cell_selected_background: darken(@notebook_background, 2%);
@cell_background: darken(@notebook_background, 3.2%);
@border_color: darken(@cell_selected_background, 31%);
@light_border_color: darken(@cell_selected_background, 17%);
@borderwidth : 1px;
@fontBaseColor : black;
@baseFontSize:			30pt;
