# If you want ipython to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install ipython.desktop

[Desktop Entry]
Comment=Enhanced interactive Python shell
Exec=ipython
GenericName[en_US]=IPython
GenericName=IPython
Icon=gnome-netstatus-idle
Name[en_US]=ipython
Name=ipython
Categories=Development;Utility;
StartupNotify=false
Terminal=true
Type=Application
