.terminal {
  float: left;
  border: black solid 5px;
  font-family: monospace;
  font-size: 11px;
  color: white;
  background: black;
  border-radius: 2px;
  box-shadow: 0px 4px 11px 0px gray;
  border: 0px;
  padding: @code_padding;

  &, dummy-screen {
    line-height: @code_line_height;
    font-size: @notebook_font_size;
  }
}

.terminal-cursor {
  color: black;
  background: white;
}

#terminado-container {
  padding-top: 20px;
}
