name: Nightly Wheel builder
on:
  workflow_dispatch:

jobs:
  upload_anaconda:
    name: Upload to Anaconda
    runs-on: ubuntu-latest
    # The artifacts cannot be uploaded on PRs
    if: github.event_name != 'pull_request'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: |
            setup.cfg
      - name: Try building with Python build
        if: runner.os != 'Windows'  # setup.py does not support sdist on Windows
        run: |
          python -m build

      - name: Upload wheel 
        uses: scientific-python/upload-nightly-wheel@latest
        with: 
          artifact-names: dist/*.whl
          anaconda-nightly-upload-token: ${secrets.UPLOAD_TOKEN}
