name: Nightly Wheel builder
on:
  workflow_dispatch:
  schedule:
    # this cron is ran every Sunday at midnight UTC
    - cron: '0 0 * * 0'

jobs:
  upload_anaconda:
    name: Upload to Anaconda
    runs-on: ubuntu-latest
    # The artifacts cannot be uploaded on PRs, also disable scheduled CI runs on forks
    if: github.event_name != 'pull_request' && (github.event_name != 'schedule' || github.repository_owner == 'ipython')

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pip
          cache-dependency-path: |
            pyproject.toml
      - name: Try building with Python build
        if: runner.os != 'Windows'  # setup.py does not support sdist on Windows
        run: |
          python -m pip install build
          python -m build

      - name: Upload wheel
        uses: scientific-python/upload-nightly-action@main
        with:
          artifacts_path: dist
          anaconda_nightly_upload_token: ${{secrets.UPLOAD_TOKEN}}
