# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

permissions:
  contents: read

on:
  push:
    branches: [ main, 7.x, 8.x ]
  pull_request:
    branches: [ main, 7.x, 8.x ]

jobs:
  formatting:

    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # when changing the versions please update CONTRIBUTING.md too
        pip install --only-binary ':all:' darker==2.1.1 black==24.10.0
    - name: Lint with darker
      run: |
        darker -r 60625f241f298b5039cb2debc365db38aa7bb522 --check --diff . || (
        echo "Changes need auto-formatting. Run:"
        echo "    darker -r 60625f241f298b5039cb2debc365db38aa7bb522 ."
        echo "then commit and push changes to fix."
        exit 1
        )
