name: Run Ruff

on:
  push:
    branches: [ main, 7.x, 8.x]
  pull_request:
    branches: [ main, 7.x, 8.x]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.x"]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install dependencies
      run: |
        uv pip install --system ruff
    - name: Lint with ruff
      run: |
        set -e
        ruff check .
