name: Post message to Zulip

on:
  workflow_dispatch:

jobs:
  post-message:
    name: Post Message to Zulip
    runs-on: ubuntu-latest
    environment:
      name: pypi

    steps:

      - name: Send Zulip notification
        if: startsWith(github.ref, 'refs/tags/')
        uses: zulip/github-actions-zulip/send-message@v1
        with:
          api-key: ${{ secrets.ZULIP_API_KEY }}
          email: ${{ secrets.ZULIP_EMAIL }}
          organization-url: ${{ vars.ZULIP_ORGANIZATION_URL }}
          to: 'Releases'
          type: 'stream'
          topic: 'IPython'
          content: |
            Test Auto release notification of IPython from GitHub action
